@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 10px;
}
main {
    max-width: 1300px;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    display: flex;
    padding: 20px 0;
    gap: 20px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.section1 {
    flex: 1;
    gap: 20px;
    background-color: rgba(45, 17, 184, 0.06);
    padding: 15px;
    border-radius: 10px;
}
.section1 .ciclo {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(63, 63, 63);
    text-transform: uppercase;
}
.section1 .carrera {
    text-transform: uppercase;
    color: rgb(10, 101, 192);
    font-size: 1.3rem;
    text-align: center;
    text-shadow: 0 0 10px aqua;
}
.section1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section2 {
    flex: 2;
    gap: 20px;
}
.section2 div {
    display: flex;
    gap: 20px;
    height: 100%;
}
.section2 aside {
    flex: 1;
    height: auto;
}
.section2 .parrafo {
    background-color: rgba(54, 235, 157, 0.161);
    padding: 15px;
    border-radius: 10px;
}
.parrafo h2 {
    text-align: center;
}
.parrafo p {
    text-align: justify;
}
.section2 .imgs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section2 .imgs>img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    background-color: rgba(255, 231, 192, 0.285);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgb(138, 138, 138);
}
.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.card p {
    text-align: justify;
}
.card i {
    font-size: 20px;
    color: rgb(34, 34, 136);
}
.card .icons {
    display: flex;
    flex-direction: row;
}
.nombre {
    text-align: center;
    background-color: rgba(240, 128, 128, 0.265);
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}
footer {
    height: 50px;
    border-top: solid rgba(128, 128, 128, 0.25) 4px;
    display: grid;
    place-items: center;
    background-color: rgba(128, 128, 128, 0.1);
}
p {
    user-select: none;
}


@media (max-width: 1050px) {
    .section2 div  {
        flex-direction: column;
    }
    .section2 .imgs {
        flex-direction: row;
    }
    .section2 .imgs>img{
        width: 50%;
    }
    .section2 .card {
        width: 100%;
    }
}
@media (max-width: 900px) {
    .section2 .imgs {
        flex-direction: column;
    }
    .section2 .imgs>img {
        width: 100%;
    }
}
    @media (max-width: 750px) {
        main {
            flex-direction: column;
        }
        .section1 img {
            width: 50%;
        }
    }
    @media (max-width: 550px) {
        .section1 img {
            width: 100%;
        }
    }